.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  -webkit-box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
  box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(110, 108, 108, 0.845);
  }
  .counter {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  }
  .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  .icon {
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    align-self: flex-end;
  }
}
