.datatable {
  height: 500px;
  padding: 20px;

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    &.ENTER {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.LEAVE {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.54);
    }
    .deleteButton {
      cursor: pointer;
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.511);
    }
  }
}
