.new {
  width: 100%;
  display: flex;
  .newContainer {
    flex: 6;
    .top,
    .bottom {
      -webkit-box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
      box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
      padding: 20px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .weekform {
        .right {
          flex: 4;
          display: flex;
          gap: 50px;
          .daycontainer {
            border: 1px solid rgba(122, 117, 117, 0.608);
            border-radius: 10%;
            width: 30px;
            padding: 20px;
            flex: 3;
            align-self: center;
          }

          .roller {
            display: block;
            margin: 20px;
            .ddcontainer {
              display: flex;
              .dropdown {
                width: 150px;
              }
            }
          }
        }
        .addbutton {
          width: 150px;
          height: 100px;
          background-color: rgb(29, 11, 163);
          color: white;
          cursor: pointer;
        }
      }
    }
    .link {
      margin-left: 20px;
    }
  }
}
