.buttonzone {
  margin-left: 50px;
  align-items: center;
  size: 10px;

  border-bottom: 10px;
  .addButton {
    width: 150px;
    background-color: rgb(29, 11, 163);
    color: white;
    cursor: pointer;
  }
}

.datatable {
  height: 600px;
  width: 98%;
  padding: 20px;
  font-size: large;

  .cellAction {
    display: flex;

    align-items: center;
    gap: 15px;
  }
}
