.new {
  width: 100%;
  display: flex;
  .newContainer {
    flex: 6;
    .top,
    .bottom {
      -webkit-box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
      box-shadow: -2px 5px 23px 4px rgba(0, 0, 0, 0.55);
      padding: 20px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
        text-align: center;
      }

      .right {
        flex: 2;
        .dropdowncontainer {
          width: 150px;
        }
        form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          .formInput {
            width: 40%;
            label {
              display: flex;
              align-items: center;
              gap: 10px;
              .icon {
                cursor: pointer;
              }
            }
            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid;
            }
          }
          .editbutton {
            width: 150px;
            height: 65px;
          }
        }
        button {
          width: 50%;
          background-color: rgb(11, 11, 163);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
