.table {
  .cellWrapper {
    display: flex;
    align-items: center;
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(3, 157, 3, 0.151);
    }
  }
}
